OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_CHAT_URL=http://127.0.0.1:11434/api/chat
OLLAMA_GENERATE_URL=http://127.0.0.1:11434/api/generate

OLLAMA_SUMMARY_MODEL=qwen2.5vl:7b
OLLAMA_OCR_MODEL=qwen2.5vl:7b